@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

/* Responsividade para celulares e tablets */

@media (max-width: 850px) {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;

}
main{
    padding: 2rem;
}

.container {
    max-width: 100%;
    margin: 0 auto;

}

.header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
}

nav a:hover {
    background-color: #f4f4f4;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
    margin-bottom: 2rem;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 1rem;
}

.highlight {
    color: #ff6347;
}

.image {
    width: 100%;
    height: auto;
}


#img-rendbank {
    display: block;
    width: 100%;
    padding: 10px;
}

header button {
    background-color: white;
    border: 0;
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
}

aside {
    display: none;
}

@media (max-width: 850px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin-bottom: 0.5rem;
    }

    header nav a {
        display: none;
    }

    header button {
        display: block;
        right: 0;
        top: 90px;
    }

    aside {
        display: block;
        background: rgba(255, 255, 255, 0.637);
        backdrop-filter: blur(10px);
        position: absolute;
        right: 250vh;
        top: 68px;
        width: 280px;
        height: 100vh;
        padding: 10px;
    }

    aside nav {
        padding: 5%;
        border-radius: 10px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;


    }

    aside nav a {
        width: 80%;
        font-size: 15px;
        font-weight: 500;
        color: #282828;
        border-bottom: #d2d2d2 solid 1px;
        border-radius: 0;
    }

    nav a:hover {
        background: rgba(208, 208, 208, 0.637);

    }
}